[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requsim = {editable = true, ref = "dev", git = "https://github.com/jwallnoefer/requsim"}
numpy = "*"
pandas = "*"
tools = {editable = true, path = "./tools"}
docopt = "*"
pre-commit = "*"

[dev-packages]
pre-commit = "*"
matplotlib = "*"
pyqt6 = "*"
pytest = "*"

[requires]
python_version = "3.9"
